<!DOCTYPE html>
<html>
<body>

<h2>Add a new recipe</h2>

<form action="/recipes">
  Name:<br>
  <input type="text" name="name">
  <br>
  Description:<br>
  <input type="text" name="description">
  <br><br>
  <input type="submit" value="Add to cookbook">
</form>

<p>If you click the "Submit" button, the form-data will be sent to a page called "/recipes".</p>

</body>
</html>
